In [1]:
import sys
import numpy as np
import pandas as pd
from datetime import datetime
sys.path.append('/home/dungpa/club_churn_predictionn/')
import configurations.paths as paths
from sklearn.model_selection import train_test_split
from pytorch_tabular import TabularModel
from pytorch_tabular.models import CategoryEmbeddingModelConfig
from pytorch_tabular.config import DataConfig, OptimizerConfig, TrainerConfig
from pytorch_tabular.categorical_encoders import CategoricalEmbeddingTransformer

In [2]:
df = pd.read_excel(paths.RAW_DATA + "/club_churn_train.xlsx")

In [3]:
agent_customer_counts = df['AGENT_CODE'].value_counts()
updated_agent_performance_groups = agent_customer_counts.map(lambda x: 0 if x == 1 else
                                                            1 if 1 < x <= 5 else
                                                            2 if 5 < x <= 15 else
                                                            3)
df['AGENT_PERFORMANCE'] = df['AGENT_CODE'].map(updated_agent_performance_groups)

In [4]:
# Handling Missing Values

# For categorical variables
df['MEMBER_MARITAL_STATUS'].fillna('Unknown', inplace=True)
df['MEMBER_GENDER'].fillna('Unknown', inplace=True)

# For numerical variables
df['MEMBER_ANNUAL_INCOME'].fillna(df['MEMBER_ANNUAL_INCOME'].median(), inplace=True)
df['MEMBER_OCCUPATION_CD'].fillna(df['MEMBER_OCCUPATION_CD'].median(), inplace=True)

df['INCOME_TO_FEE_RATIO'] = np.divide(df['ANNUAL_FEES'], df['MEMBER_ANNUAL_INCOME'])
# Replace inf or -inf with NaN or a desired value
df['INCOME_TO_FEE_RATIO'].replace([np.inf, -np.inf], 0, inplace=True)


# Convert START_DATE and END_DATE to datetime format for feature extraction
df['START_DATE'] = pd.to_datetime(df['START_DATE'], format='%Y%m%d', errors='coerce')
df['END_DATE'] = pd.to_datetime(df['END_DATE'], format='%Y%m%d', errors='coerce')

current_date = datetime(2014,1,1)
df['DAYS_STAY'] = (current_date - df['START_DATE']).dt.days

# Extract year, month, and day from START_DATE and END_DATE
df['START_YEAR'] = df['START_DATE'].dt.year
df['START_MONTH'] = df['START_DATE'].dt.month
df['START_DAY'] = df['START_DATE'].dt.day

df['START_YEAR_AGE_COMBINED'] = df['START_YEAR'] * df["MEMBER_AGE_AT_ISSUE"]
# Encoding the target variable
df['TARGET'] = df['MEMBERSHIP_STATUS'].apply(lambda x: 1 if x == 'CANCELLED' else 0)

# Drop columns that won't be used for model training
df.drop(columns=['ID', 'MEMBERSHIP_NUMBER', 'START_DATE', 'END_DATE', 'MEMBERSHIP_STATUS', 'AGENT_CODE'], inplace=True)

df.head()

,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,AGENT_PERFORMANCE,INCOME_TO_FEE_RATIO,DAYS_STAY,START_YEAR,START_MONTH,START_DAY,START_YEAR_AGE_COMBINED,TARGET
0,12.0,100000.00,Unknown,M,399996.0,1.0,TYPE-B,43.0,2.0,ANNUAL,1,0.250003,825,2011,9,29,86473.0,1
1,17.0,100514.23,M,F,549996.0,1.0,TYPE-A,40.0,2.0,ANNUAL,2,0.182754,1027,2011,3,11,80440.0,1
2,12.0,100000.80,M,M,1299996.0,1.0,TYPE-B,40.0,2.0,MONTHLY,0,0.076924,190,2013,6,25,80520.0,0
3,12.0,100000.99,M,M,500004.0,1.0,TYPE-B,50.0,3.0,ANNUAL,0,0.200000,1063,2011,2,3,100550.0,1
4,12.0,200001.60,Unknown,M,499992.0,2.0,TYPE-B,45.0,2.0,MONTHLY,1,0.400010,307,2013,2,28,90585.0,1

In [5]:
df.isnull().sum()

MEMBERSHIP_TERM_YEARS      0
ANNUAL_FEES                0
MEMBER_MARITAL_STATUS      0
MEMBER_GENDER              0
MEMBER_ANNUAL_INCOME       0
MEMBER_OCCUPATION_CD       0
MEMBERSHIP_PACKAGE         0
MEMBER_AGE_AT_ISSUE        0
ADDITIONAL_MEMBERS         0
PAYMENT_MODE               0
AGENT_PERFORMANCE          0
INCOME_TO_FEE_RATIO        0
DAYS_STAY                  0
START_YEAR                 0
START_MONTH                0
START_DAY                  0
START_YEAR_AGE_COMBINED    0
TARGET                     0
dtype: int64

In [6]:
df.dtypes

MEMBERSHIP_TERM_YEARS      float64
ANNUAL_FEES                float64
MEMBER_MARITAL_STATUS       object
MEMBER_GENDER               object
MEMBER_ANNUAL_INCOME       float64
MEMBER_OCCUPATION_CD       float64
MEMBERSHIP_PACKAGE          object
MEMBER_AGE_AT_ISSUE        float64
ADDITIONAL_MEMBERS         float64
PAYMENT_MODE                object
AGENT_PERFORMANCE            int64
INCOME_TO_FEE_RATIO        float64
DAYS_STAY                    int64
START_YEAR                   int64
START_MONTH                  int64
START_DAY                    int64
START_YEAR_AGE_COMBINED    float64
TARGET                       int64
dtype: object

In [7]:
train, test = train_test_split(df, random_state=42, test_size=0.15)
train, val = train_test_split(train, random_state=42, test_size=0.15)
num_col_names = ["MEMBERSHIP_TERM_YEARS", "ANNUAL_FEES", "MEMBER_ANNUAL_INCOME", "MEMBER_OCCUPATION_CD",
                "MEMBER_AGE_AT_ISSUE", "ADDITIONAL_MEMBERS", "AGENT_PERFORMANCE", "INCOME_TO_FEE_RATIO",
                "START_YEAR", "START_MONTH", "START_DAY", "START_YEAR_AGE_COMBINED", "DAYS_STAY"]
categorical_columns = ["MEMBER_MARITAL_STATUS", "MEMBER_GENDER", "MEMBERSHIP_PACKAGE", "PAYMENT_MODE"]
data_config = DataConfig(
    target=[
        "TARGET"
    ], 
    continuous_cols=num_col_names,
    categorical_cols=categorical_columns
)
trainer_config = TrainerConfig(
    auto_lr_find=True,  # Runs the LRFinder to automatically derive a learning rate
    batch_size=64,
    max_epochs=200,
)
optimizer_config = OptimizerConfig()

model_config = CategoryEmbeddingModelConfig(
    task="classification",
    layers="1024-512-512",  # Number of nodes in each layer
    activation="LeakyReLU",  # Activation between each layers
    learning_rate=1e-3,
    metrics = ['accuracy']
)

tabular_model = TabularModel(
    data_config=data_config,
    model_config=model_config,
    optimizer_config=optimizer_config,
    trainer_config=trainer_config,
)
tabular_model.fit(train=train, validation=val)
result = tabular_model.evaluate(test)
pred_df = tabular_model.predict(test)
tabular_model.save_model(paths.MODEL_EMBEDED)
# loaded_model = TabularModel.load_from_checkpoint(paths.MODEL_EMBEDED)

Generating Predictions... ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100% 0:00:00

In [8]:
tabular_model.summary()

   | Name                                    | Type                      | Params
---------------------------------------------------------------------------------------
0  | _backbone                               | CategoryEmbeddingBackbone | 812 K
1  | _backbone.linear_layers                 | Sequential                | 812 K
2  | _backbone.linear_layers.0               | Linear                    | 24.6 K
3  | _backbone.linear_layers.1               | LeakyReLU                 | 0
4  | _backbone.linear_layers.2               | Linear                    | 524 K
5  | _backbone.linear_layers.3               | LeakyReLU                 | 0
6  | _backbone.linear_layers.4               | Linear                    | 262 K
7  | _backbone.linear_layers.5               | LeakyReLU                 | 0
8  | _embedding_layer                        | Embedding1dLayer          | 76
9  | _embedding_layer.cat_embedding_layers   | ModuleList                | 50
10 | _embedding_layer.cat_embedding_layers.0 | Embedding                 | 18
11 | _embedding_layer.cat_embedding_layers.1 | Embedding                 | 8
12 | _embedding_layer.cat_embedding_layers.2 | Embedding                 | 6
13 | _embedding_layer.cat_embedding_layers.3 | Embedding                 | 18
14 | _embedding_layer.normalizing_batch_norm | BatchNorm1d               | 26
15 | head                                    | LinearHead                | 1.0 K
16 | head.layers                             | Sequential                | 1.0 K
17 | head.layers.0                           | Linear                    | 1.0 K
18 | loss                                    | CrossEntropyLoss          | 0
---------------------------------------------------------------------------------------
813 K     Trainable params
0         Non-trainable params
813 K     Total params
3.253     Total estimated model params size (MB)

In [22]:
transformer = CategoricalEmbeddingTransformer(tabular_model)
train_transformed = transformer.fit_transform(train)

Encoding the data... ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100% 0:00:00

In [23]:
# Features and Target variable
X = df.drop('TARGET', axis=1)
y = df['TARGET']

# Splitting the dataset into training and testing sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape

((7460, 17), (1865, 17))

In [24]:
X_train = transformer.transform(X_train)
X_test = transformer.transform(X_test)

Encoding the data... ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100% 0:00:00

In [25]:
X_train.shape, X_test.shape

((7460, 23), (1865, 23))

In [26]:
X_train.to_csv(paths.PROCESSED_DATA + "/X_train.csv", index=False)
X_test.to_csv(paths.PROCESSED_DATA + "/X_test.csv", index=False)
y_train.to_csv(paths.PROCESSED_DATA + "/y_train.csv", index=False)
y_test.to_csv(paths.PROCESSED_DATA + "/y_test.csv", index=False)